/*Mon style*/

body {
  font-size: 14pt;
}

#cssheader, #cssmain, #cssfooter {
  background-color: gray;
}

h2 {
  margin: 20px 10px;
}

#cssh1 {
  margin: 25px 25px;
}

#profil {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin: 30px;
}

#cssspan {
  margin: 15px 10px 15px 15px;
}

#cssnavigation {
  text-align: center;
  background-color: #A92443;
  border-radius: 10px;
  margin: 25px 25px;
}

a:link, a:visited , a:active{
  text-decoration: none;
  font-size: 16pt;
  color: black;
}

a:hover {
  text-decoration: none;
  font-size: 16pt;
  color: gray;
}

.almargin {
  margin: 20px 10px;
}

.last {
  margin-bottom: 25px;
}

.year {
  color: black;
}

h3 {
  margin: 20px 25px;
}

#p1, #p2, #p3, #p4 {
  margin-bottom: 25px;
}

.progress {
  margin: 20px 25px;
}

.progress-bar {
  background-color: #A92443;
}

canvas {
  margin: 20px 25px;
}

#up {
  margin-bottom: 25px;
}
